{% extends 'base.html.twig' %}

{% block content %}
    <h1>Boletin salida temporaria</h1>

    <table>
        <tbody>
            <tr>
                {# En un futuro el id tal vez no sea necesario que sea visible #}
                <th>Id</th>
                <td>{{ boletin.id }}</td>
            </tr>
            <tr>
                <th>Agente</th>
                <td>{{ boletin.agente }}</td>
            </tr>
            <tr>
                <th>Dni</th>
                <td>{{ boletin.dni }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if boletin.fecha %}{{ boletin.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ boletin.tipo }}</td>
            </tr>
            <tr>
                <th>Destino</th>
                <td>{{ boletin.destino }}</td>
            </tr>
            <tr>
                <th>Hora salida</th>
                <td>{% if boletin.horaSalida %}{{ boletin.horaSalida|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Hora regreso</th>
                <td>{% if boletin.horaRegreso %}{{ boletin.horaRegreso|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Tiempo total</th>
                <td>{{ boletin.tiempoTotal }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-primary btn-lg" style="width:202px" href="{{ path('boletin_edit', { 'id': boletin.id }) }}">Editar</a>
            <a class="btn btn-primary btn-lg" style="width:202px" href="{{ path('boletin_index') }}">Volver</a>
            {# Aca iba un delete, pero no deberias poder eliminar un boletin #}
        </li>
    </ul> 

{% endblock %}
